@import "tailwindcss";

@theme {
  --color-brand: #223614;
  --color-main: #fbf6f1;
  --color-surface: #e5e0da;
  --color-panel: #c2bfcb;
  --color-cta: #7e7b46;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
